<!DOCTYPE html>

<!--
Project name(项目名称)：Element_UI_Form
  File name(文件名): test3
  Authors(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/4/30
  Time(创建时间)： 21:11
  Description(描述)： 无
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/element-ui.css">
    <script src="js/vue.js"></script>
    <script src="js/element-ui.js"></script>
    <style>

    </style>
</head>
<body>

<div id="app">

    <el-radio-group v-model="labelPosition" size="small">
        <el-radio-button label="left">左对齐</el-radio-button>
        <el-radio-button label="right">右对齐</el-radio-button>
        <el-radio-button label="top">顶部对齐</el-radio-button>
    </el-radio-group>

    <div style="margin: 20px;"></div>
    <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
        <el-form-item label="名称">
            <el-input v-model="formLabelAlign.name"></el-input>
        </el-form-item>
        <el-form-item label="活动区域">
            <el-input v-model="formLabelAlign.region"></el-input>
        </el-form-item>
        <el-form-item label="活动形式">
            <el-input v-model="formLabelAlign.type"></el-input>
        </el-form-item>
        <el-form-item style="text-align: center">
            <el-button type="success" @click="onSubmit">提交</el-button>
        </el-form-item>
    </el-form>

</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            labelPosition: 'right',
            formLabelAlign:
                {
                    name: '',
                    region: '',
                    type: ''
                }
        },
        methods: {
            onSubmit()
            {
                console.log('提交!');
                console.log(this.formInline)
            }
        },

    })
</script>

</body>
</html>